

body {
    background-color: seashell;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: center;
}

#calender {
    background-color: white;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    height: 250px;
    height: 380px;
    width: 470px;
    
   
    
    border-radius: 5%;
    

    
    
}

#calender table button {
    font-size: 25px;
    
}

button {
    cursor: pointer;
}

#table {
    margin-left: 30%;
}

#monthTitle {
    width: 250px;
    font-size: 20px;
}





.arrow{
    border-radius: 50%;
}



.weeks{
    font-weight: bold;
    width: 100%
    


}

.weeks th{
    width: 50px;
    font-size: 25px;
}


.days {
    width: 100%;
}



.days td {
    width: 50px;
    text-align: center;
}

.realNum{

    background-color: thistle;
    border-radius: 50px;

}


.realNum:hover {
    background-color: aliceblue;
}

.realNum:active {
    background-color: aqua;
}



.today{
    border-color: green;
    border-width: 5px;
}

#popupEvent{
    display: inline-block;
    
   
    background-color: white;
    border: 5px solid;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 5%;

   
}


#popupEvent label {
    font-weight: bold;
}

textarea {
    resize: none;
}


#eventDisplay{
    display: block;
    border-style: solid;
    border-width: 5px;
   
  
   margin-top: 6px;
   height: 380px;
   width: 470px;
   overflow-x: hidden;
   overflow-y: auto;
   text-align: center;
   background-color: white;
   border-radius: 5%;

}

.event{
    
    border: 1px solid;
    
}











